.name p{
	color: black;
	font-size: 30pt;
	font-weight: normal;
	front-family: Arial Black;
	text-align: center;
}

.user p{
	color: black;
	font-size: 30pt;
	font-weight: normal;
	front-family: Arial Black;
	text-align: right;
}
