body{
    margin: auto;
    font-size: 30px;
    font-family: 'Roboto';
    font-weight: bolder;
    background-color: #1E1E1E;
}

@font-face {
    font-family: 'Roboto';
    src: url(Inter.woff2);
}

.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.header{
    font-size: 29px;
    height: 60px;
    background-color:#67B6C0;
    color:#363636;
    width: 100%;
    position: relative;
    text-align: center;
    padding-top: 1%;
}
