.blog{
    color:white;
    text-align: center;
    align-items: center;
}
img{
    position: relative;
    top:30px;
    width: 80%;
}
.text{
    text-align: center;
    font-size: 15px;
}
