<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="vse">
        <div class="verh">
            <div class="nov">
                <a>Новостной сайт</a>
            </div>
            <div class="glavred">
                <a>Автор</a>
            </div>
            <img class="vihod" src="vihod.png" width="32px" height="32px">
        </div>
        <div class="tab">
            <button class="tablinks" onclick="openCity(event)">Создание тем</button>
            <button class="tablinks" onclick="openCity(event)">Публикации</button>
        </div>
        <h2 class="spisok">Список публикаций</h2>\

        <table class="table">

            <tr>
                <th>Тема</th>
                <th>Публикация</th>
                <th>Сотрудник</th>
                <th>Дедлайн</th>
                <th>Статус</th>
              </tr>
            <td></td>
            <td></td>
        </table>
    </div>
</body>
</html>
