<!DOCTYPE html>
<html lang="ru">

<head>
    <link rel="preload" href="Inter.woff2" as="font">
    <link rel="stylesheet" href="../css/styles_post.css">
    <link rel="stylesheet" href="../css/general.css">

</head>

<body>

<header class="header">
    <div class="container">Новостной сайт</div>
</header>

<div class="blog">
   <div class="container">
        <img src="https://raw.githubusercontent.com/mesor21/cursovaya-web-site/main/file_of_progect/Kursovaya/src/main/resources/static/img.png">
        <div class="text">
            <h1>NVIDIA представила технологию DLCC 3 поколения</h1>
            <p>Вместе с картами представили и технологию апскейлинга третьего поколения. DLSS 3 способнатеперь генерировать не дополнительные пиксели, а целые кадры, за счёт чего производительность в играх увеличится до четырёх раз.Технология станет доступна 12 октября в более чем 35 играх, включая Hogwarts Legacy, Cyberpunk 2077 и S.T.A.L.K.E.R 2: Heart of Chornobyl. DLSS 3 работает на базе тензорных ядер четвёртого поколения и будет доступна только на новых картах GeForce RTX 4000. Проверить новые технологии Nvidia можно в новой бесплатной игре Racer RTX — это технодемо с детализированной графикой.</p>
        </div>
    </div>
</div>

</body>
</html>
