<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <link href="/css/styles_login.css"
          media="all"
          rel="stylesheet"
          th:href="@{/css/styles_login.css}"
          type="text/css">

    <link href="/img/usericon.icns"
          rel="icon"
          th:href="@{/img/usericon.icns}"
          type="image/icns">

<body>
    

    <div class="block email">
        
        <div class="container">
            <div class="aboba">
        <img src="usericon.icns"
        width="110"
        height="110">
    </div>
            <div class="Login">
                <p>Login</p>
                <p></p>
            </div>
            <input class="kekw" type="text" placeholder="Username">
            <p></p>
            <input class="lol" type="password" placeholder="Password">
            <button class="custom-btn btn-1">
                <span>ENTRER</span></button>
        </div>
    </div>
   
</body>

</html>